.git/
.venv/
node_modules/
__pycache__/
*.py[cod]
.DS_Store

data/*.json
data/.venv/
wb_last_search.json
*.html
result.png
products.json
wb_products.json
search_result*.html
product_*.html
.npm-pack/
